<section class="form-section">
  <div class="text">
    <h3>Fique por dentro das tendências</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor
      incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
      nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
      ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit
      esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat
      cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum
    </p>
  </div>
  <form>
    <label for="name">Name</label>
    <input id="name" />
    <label for="email">Email</label>
    <input id="email" />
    <btn-primary btn-text="Se inscreva" variant="secondary"></btn-primary>
  </form>
</section>
